<div>

  <div class="bg-white  px-4 py-2">
    <a class="text-gray-400" routerLink="/add-period"><button routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" class=" nav-btn mr-2">Add
        Period</button></a>
    <a class="text-gray-400" routerLink="/"><button routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" class="nav-btn">Time Table</button></a>


  </div>

  <router-outlet></router-outlet>
</div>

<footer class="text-lg text-center font-bold  mt-8 p-2">Made with <svg xmlns="http://www.w3.org/2000/svg"
    class="inline-block text-red-600 h-5 w-5"
    viewBox="0 0 20 20"
    fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg> for You. Want to <a href="https://github.com/mahendra1290/time-table-frontend"
    target="_blank">contribute ?</a></footer>
