<nav
  class="flex px-2 w-full overflow-x-scroll md:overflow-hidden text-lg md:text-xl whitespace-nowrap py-4 justify-between bg-gray-900 shadow-md items-center">
  <div class="flex items-center gap-4  font-mono">
    <h1 class="text-xl md:text-2xl pl-2 md:pl-4 text-gray-200 font-bold first-letter:text-blue-400">Time Table</h1>
    <a class="text-gray-400 mr-2" routerLink="/add-period" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:
      true}">Add
      Period</a>
    <a class="bg-transparent text-gray-400" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Time Table</a>

  </div>

  <div class="flex items-center bg-transparent px-4 py-2">
    <input type="text"
      placeholder="Search for a street"
      [(ngModel)]="sem"
      [ngStyle]="{'width': sem.length + 2 + 'ch'}"
      matTooltip="Change Semester"
      class="cursor-pointer text-lg md:text-xl px-[1ch]
       font-mono outline-none border-0 text-white focus:border-0 focus:rounded-md focus:bg-gray-700 focus:ring-gray-200 bg-transparent transition-all duration-500"
      [matAutocomplete]="semAutocomplete">
    <mat-autocomplete #semAutocomplete="matAutocomplete">
      <mat-option *ngFor="let option of sems" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <input type="text"
      placeholder="Search for a street"
      [(ngModel)]="branch"
      matTooltip="Change Branch"
      class="cursor-pointer text-lg px-[1ch] md:text-xl font-mono outline-none border-0 text-white focus:border-0 focus:rounded-md focus:bg-gray-700 focus:ring-gray-200 bg-transparent transition-all duration-500"
      [ngStyle]="{'width': branch.length + 2 +  'ch'}"
      [matAutocomplete]="branchAutocomplete">
    <mat-autocomplete #branchAutocomplete="matAutocomplete">
      <mat-option *ngFor="let option of branchs" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

  </div>

  <!-- <h1>{{authService.user | async }}</h1>

  <button (click)="login()"> Login with Google</button>
  <button (click)="logout()"> Logout</button> -->

</nav>
<router-outlet></router-outlet>

<footer class="text-lg text-center font-bold  mt-8 p-2">Made with <svg xmlns="http://www.w3.org/2000/svg"
    class="inline-block text-red-600 h-5 w-5"
    viewBox="0 0 20 20"
    fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>. Want to <a href="https://github.com/mahendra1290/time-table-frontend"
    target="_blank">contribute ?</a></footer>