<app-sidebar></app-sidebar>
<nav
  class="fixed top-0 z-40 flex px-4 w-full overflow-hidden text-lg md:text-xl whitespace-nowrap py-4 md:py-1 justify-between bg-gray-900 shadow-md items-center">
  <div class="flex items-center gap-4  font-mono">
    <p class="flex items-center md:hidden">
      <mat-icon class="stroke-current text-white" (click)="openSidebar()">menu</mat-icon>
    </p>
    <a routerLink="/" class="text-xl md:text-2xl text-gray-200 font-bold first-letter:text-blue-400">
      Time Table
    </a>
    <a
      *ngIf="!(auth.user$ | async)"
      class="hidden md:block cursor-pointer hover:bg-gray-700 text-gray-200 active:scale-95 mr-2 px-4 py-2 border-2 border-current rounded-md"
      (click)="auth.googleSignin()">
      Login
    </a>
    <button
      *ngIf="(auth.user$ | async)"
      [matMenuTriggerFor]="menu"
      class="hidden md:block hover:bg-gray-800 text-gray-200 active:scale-95 mr-2 px-4 py-2
      rounded-md">
      Hi, {{(auth.user$ | async)?.displayName}}
    </button>
    <mat-menu class="bg-gray-700" #menu="matMenu">
      <a routerLink="/profile" class="text-white" mat-menu-item>
        <mat-icon [ngStyle]="{'color': 'white'}">account_circle</mat-icon>Profile
      </a>
      <button class="text-white" mat-menu-item (click)="auth.signOut()">

        <mat-icon [ngStyle]="{'color': 'white'}">logout</mat-icon> Log out
      </button>
    </mat-menu>
    <a *ngIf="(auth.user$ | async)" class="hidden md:block text-gray-400 mr-2" routerLink="/add-period"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:
      true}">Add
      Period</a>
  </div>


  <div class="flex items-center font-mono text-white gap-4 md:hidden">
    <p *ngIf="sem">{{sem + ' sem'}}</p>
    <p *ngIf="branch">{{branch?.code}}</p>
  </div>
  <div class="hidden md:flex items-center bg-transparent px-4 py-2">
    <select type="text"
      [ngClass]="sem ? 'visible' : 'invisible'"
      placeholder="Search for a street"
      [ngModel]="sem"
      (change)="setSemester(semSelect.value || '')"
      [ngStyle]="{'width': (sem ? sem.length + 8  : 0)+ 'ch'}"
      matTooltip="Change Semester"
      #semSelect
      class="cursor-pointer text-lg md:text-xl px-[1ch]
       font-mono outline-none border-0 text-white focus:border-0 focus:rounded-md focus:bg-gray-700 focus:ring-gray-200 bg-transparent transition-all duration-500">
      <option *ngFor="let item of branchSemOptions.semesters" [value]="item">{{item + ' sem'}}</option>
    </select>
    <select type="text"
      [ngClass]="branch ? 'visible' : 'invisible'"
      placeholder="Search for a street"
      [ngModel]="branch ? branch.code : ''"
      (change)="setBranch(branchSelect.value || '')"
      matTooltip="Change Branch"
      #branchSelect
      class="cursor-pointer text-lg px-[1ch] md:text-xl font-mono outline-none border-0 text-white focus:border-0 focus:rounded-md focus:bg-gray-700 focus:ring-gray-200 bg-transparent transition-all duration-500"
      [ngStyle]="{'width': (branch ? branch.label.length + 4 : 0)+  'ch'}">
      <option *ngFor="let item of branchSemOptions.branches" [value]="item.code">{{item.label}}</option>
    </select>
  </div>

</nav>
<div class="px-4 mt-20">
  <router-outlet></router-outlet>
</div>

<footer class="text-lg text-center font-bold  mt-8 p-2">Made with <svg xmlns="http://www.w3.org/2000/svg"
    class="inline-block text-red-600 h-5 w-5"
    viewBox="0 0 20 20"
    fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>. Want to <a href="https://github.com/mahendra1290/time-table-frontend"
    target="_blank">contribute ?</a></footer>