<div *ngIf="(state | async) == 'open'" class="fixed left-0 right-0 top-0 bottom-0 z-50 bg-black opacity-25"
    (click)="close()">

</div>
<div class="fixed transition-all shadow-lg left-0 top-0 bottom-0 z-50 w-4/5 bg-white text-black"
    [ngClass]="(state | async) == 'closed' ? '-left-full' : 'left-0' ">
    <h1 class="text-2xl pl-4 py-4 shadow-sm text-gray-800 font-bold first-letter:text-blue-400">Time Table</h1>
    <!-- <hr class="border-none h-[2px] bg-gray-100 mb-4"> -->
    <div class="pl-4 flex mb-4 bg-gray-100 shadow-md py-2 items-center" *ngIf="(auth.user$ | async)">
        <img class="rounded-full w-14"
            [src]="(auth.user$ | async)?.photoURL || 'https://avatars.dicebear.com/api/bottts/cute.svg?mood=happy'">
        <div class="overflow-scroll">
            <h1 class="ml-2 text-xl">{{(auth.user$ | async)?.displayName}}</h1>
            <p class="ml-2 text-sm text-gray-500 ">{{(auth.user$ | async)?.email}}</p>
        </div>
    </div>

    <div class="flex flex-col gap-4">
        <a *ngIf="(auth.user$ | async)" routerLink='add-period' (click)="close()" routerLinkActive='sidebar-active-link'
            [routerLinkActiveOptions]="{exact:true}"
            class="pl-4 py-4 shadow-sm rounded-r-full bg-blue-50 mr-8">Add Period</a>
        <a routerLink='' routerLinkActive='sidebar-active-link' (click)="close()"
            [routerLinkActiveOptions]="{exact:true}"
            class="pl-4 py-4 shadow-sm rounded-r-full bg-blue-50 mr-8">Time Table</a>
        <a routerLink='/profile' routerLinkActive='sidebar-active-link' (click)="close()"
            [routerLinkActiveOptions]="{exact:true}"
            class="pl-4 py-4 shadow-sm rounded-r-full bg-blue-50 mr-8">Settings</a>
        <a *ngIf="(auth.user$ | async)" class="pl-4 py-4 shadow-sm rounded-r-full bg-blue-50 mr-8"
            (click)="auth.signOut();close()">
            Log out
        </a>
        <a *ngIf="!(auth.user$ | async)" class="pl-4 py-4 shadow-sm rounded-r-full bg-blue-50 mr-8"
            (click)="auth.googleSignin();close()">
            Log In
        </a>

    </div>
</div>