<div class="p-6">
    <div>
        <h1>Branches</h1>
        <div>
            <input class="uppercase" type="text" placeholder="Code" [formControl]="branchCode">
            <input type="text" placeholder="Label" [formControl]="branchLabel">
            <button class="bg-green-400 px-4 py-2" (click)="addBranch()">Add</button>
        </div>
        <div>
            <p *ngFor="let branch of branches">{{branch.code}} {{branch.label}}</p>
        </div>
    </div>
    <div>
        <h1>Semesters</h1>
        <input type="number" [formControl]="semNo"><button class="bg-green-400 px-4 py-2"
            (click)="addSemester()">Add</button>
        <p *ngFor="let sem of semesters">{{sem}}</p>
    </div>
</div>