<div class="p-2">
  <form [formGroup]="subjectform"
    class="relative container max-w-6xl shadow-lg overflow-hidden rounded-md bg-gray-800 mt-4 text-white p-6 mx-auto">
    <div *ngIf="addingPeriodLoading"
      class="transition-all flex justify-center items-center absolute top-0 left-0 right-0 bottom-0 z-10 bg-gray-600 opacity-50">
      <mat-spinner class="text-gray-200"></mat-spinner>
    </div>
    <h1 class="prose prose-2xl text-gray-300">Add Period</h1>
    <div class="flex flex-col md:flex-row mt-2 gap-6 divide-y-2 divide-x-0 md:divide-x-2 md:divide-y-0">
      <div class="flex flex-col gap-6 w-full md:w-1/2">
        <div class="flex gap-4">
          <label class="block w-1/2 ">
            <span class="">Subject Code</span>
            <input type="text" class="input-field w-full uppercase block px-4 py-3 rounded-md"
              formControlName="subjectCode" />
            <!-- <p class="text-sm text-red-600" *ngIf="subject.touched && subject.errors">* please enter subject</p> -->
          </label>

          <label class="block w-1/2 ">
            <span class="">Subject Name</span>
            <input type="url" class="input-field w-full capitalize block px-4 py-3 rounded-md"
              formControlName="subjectName" />
            <!-- <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p> -->
          </label>
        </div>

        <div class="flex flex-col md:flex-row gap-4">

          <label class="block w-full md:w-1/2">
            <span class="">Meet link</span>
            <input type="url" class="input-field form-input w-full block px-4 py-3 rounded-md"
              formControlName="meetLink" />
            <!-- <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p> -->
          </label>

          <label class="block w-full  md:w-1/2">
            <span class="">Faculty name (optional)</span>
            <input type="url" class="input-field form-input w-full block px-4 py-3 rounded-md"
              formControlName="facultyName" />
            <!-- <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p> -->
          </label>
        </div>

        <div class="flex gap-4">
          <label class="block w-1/2">
            <span class="">Branch</span>
            <input type="url" class="input-field form-input w-full block px-4 py-3 rounded-md"
              formControlName="branch" />
            <!-- <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p> -->
          </label>

          <label class="block w-1/2">
            <span class="">Semester</span>
            <input type="url" class="input-field form-input w-full block px-4 py-3 rounded-md"
              formControlName="semester" />
            <!-- <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p> -->
          </label>
        </div>
        <div class="w-full mt-auto flex gap-4">
          <button
            (click)="addPeriod()"
            class="w-min px-6 flex py-2 border rounded-full text-black border-transparent hover:opacity-70 active:scale-95 bg-green-400">
            Add
          </button>
          <button
            (click)="addPeriod()"
            class="w-min px-6 flex py-2 border rounded-full text-black border-transparent hover:opacity-70 active:scale-95 bg-red-400">
            Cancel
          </button>
        </div>
      </div>
      <div formGroupName="period" class="flex flex-col gap-6 w-full md:w-1/2 pl-0 md:pl-6 pt-6 md:pt-0">
        <div class="flex flex-col md:flex-row gap-4">
          <!-- <label class="block w-full md:w-1/2">
            <span class="">Time</span>
            <div class="flex gap-4"> -->
          <!-- <input type="datetime" placeholder="from"
                class="input-field form-input w-full block px-4 py-3 rounded-md"
                [formControl]="subject" /> -->
          <!-- <app-time-picker class="w-full"></app-time-picker> -->
          <!-- <app-time-picker class="w-full"></app-time-picker> -->

          <!-- <p class="text-sm text-red-600" *ngIf="subject.touched && subject.errors">* please enter subject</p> -->
          <!-- </div> -->
          <!-- </label> -->
          <label class="block w-full">
            <span class="">Period No</span>
            <input type="text" class="input-field uppercase form-input w-full block px-4 py-3 rounded-md"
              formControlName="periodNo" [matAutocomplete]="periodAutocomplete" />
            <mat-autocomplete #periodAutocomplete="matAutocomplete">
              <mat-option *ngFor="let option of periodTimings; let i = index"
                [value]="option.startTime+'|'+option.endTime">
                {{periodNumbers[i]}}
              </mat-option>
            </mat-autocomplete>
          </label>
        </div>

        <div>
          <span class="">Day</span>
          <div class="flex justify-between">
            <button
              (click)="toggleDay(i)"
              class="bg-gray-600 px-4 py-1 rounded-full hover:bg-gray-200 hover:text-gray-800 transition-all duration-100 active:scale-95"
              [ngClass]="i==selectedDay ? 'bg-gray-200 text-black scale-105' : ''"
              *ngFor="let day of days; let i = index">{{day}}</button>
          </div>
        </div>
        <div class="flex gap-4">
          <label class="block">
            <span class="">Meet link (Specific)</span>
            <input type="url" class="input-field form-input w-full block px-4 py-3 rounded-md"
              formControlName="meetLink" />
            <!-- <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p> -->
          </label>
          <label class="block">
            <span class="">Section</span>
            <input type="url" class="input-field form-input w-full block px-4 py-3 rounded-md"
              formControlName="sections" />
            <!-- <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p> -->
          </label>
        </div>
        <div class="flex justify-end">
          <button
            matTooltip="add period"
            (click)="addPeriod()"
            class="px-2 flex py-2 border ml-4 rounded-full text-black border-transparent hover:opacity-70 active:scale-95 bg-green-400">
            <mat-icon>add</mat-icon>
          </button>
          <button
            class="px-2 flex py-2 border ml-4 rounded-full text-black border-transparent hover:opacity-70 active:scale-95 bg-red-400">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="flex flex-wrap gap-6">
          <app-period-card *ngFor="let item of subjectPeriods; let i = index" class="flex-grow" [subjectPeriod]="item"
            (remove)="removePeriod(i)">
          </app-period-card>
        </div>
      </div>
    </div>

    <!-- <button
      [disabled]="!subject.valid || !meetLink.valid || !sectionSelector?.selected?.size"
      class="disabled:opacity-40 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md
    text-black  bg-blue-400" (click)="addPeriod()">
      Add
    </button>
    <button
      type="reset"
      class="
      py-2
      px-4
      border border-transparent
      shadow-sm
      text-sm
      font-medium
      rounded-md
      text-black
      bg-red-400
    ">
      Reset
    </button> -->
  </form>
</div>