<form class="container shadow-lg rounded-sm lg:w-1/4 md:w-1/3  w-[95%] p-6 mx-auto">
  <h1 class="prose prose-2xl">Add Period</h1>
  <div class="grid grid-cols-1 gap-6 mt-5">
    <label class="block">
      <span class="text-gray-700">Subject</span>
      <input type="text" class=" uppercase form-input w-full block px-4 py-3 rounded-md" [formControl]="subject" />
      <p class="text-sm text-red-600" *ngIf="subject.touched && subject.errors">* please enter subject</p>
    </label>

    <label class="block">
      <span class="text-gray-700">Meet Link</span>
      <input type="url" class="form-input w-full block px-4 py-3 rounded-md" [formControl]="meetLink" />
      <p class="text-sm text-red-600" *ngIf="meetLink.touched && meetLink.errors">* please enter meet link</p>
    </label>

    <label class="block" (click)="$event.stopPropagation()">
      <span class="text-gray-700">Section</span>
      <app-multi-select #section_multiselect [options]="sectionOptions"></app-multi-select>
    </label>

    <label class="block">
      <span class=" text-gray-700">Period</span>

      <select class="form-select w-full block px-4 py-3 rounded-md" [formControl]="period">
        <option [value]="timing.startTime+'|'+timing.endTime" *ngFor="let timing of periodTimings; let i = index">
          {{timing.startTime + " - " + timing.endTime}}
        </option>
      </select>
    </label>

    <span class="block text-gray-700">Day</span>
    <div class="flex justify-between">
      <div class="day-capsule" *ngFor="let day of days; let i = index;" (click)="toggleDay(i)"
        [ngClass]="{'day-capsule-selected':selectedDay == i}">{{day}}</div>
    </div>



    <button
      [disabled]="!subject.valid || !meetLink.valid || !sectionSelector?.selected?.size"
      class="disabled:opacity-40 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md
      text-black  bg-blue-400" (click)="addPeriod()">
      Add
    </button>
    <button
      type="reset"
      class="
        py-2
        px-4
        border border-transparent
        shadow-sm
        text-sm
        font-medium
        rounded-md
        text-black
        bg-red-400
      ">
      Reset
    </button>
  </div>
</form>
