/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.period-capsule {
  @apply bg-red-400;
}

.day-capsule {
  @apply cursor-pointer py-2
  px-4
  bg-transparent
  border-2
  text-black
  rounded-full  active:bg-green-400;
}

.day-capsule-selected {
  @apply bg-green-400;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.nav-btn {
  @apply bg-white p-2 inline-flex items-center justify-center  hover:text-gray-500 hover:bg-gray-100 focus:outline-none;
}

.period-btn {
  @apply px-2 py-2 text-sm border-4 font-medium rounded-full ml-3 text-white;
}

.active {
  @apply text-gray-100 border-b-2 border-gray-50;
}
.activeb {
  @apply text-black border-b-4 border-blue-600;
}

.sidebar-active-link {
  @apply bg-blue-300
}

.mat-simple-snackbar-action {
  @apply text-gray-700
}

.input-field {
  @apply bg-gray-600 px-2 border-none focus:outline-none focus:ring-gray-300
}

html, body { height: 100%; }
body { margin: 0; }

.time-picker .mat-select-arrow {
  border: none;
 
} 

.time-picker * {
  color: white;
}

.time-picker .mat-form-field-outline {
  top: 0 !important;
  border: none;
}

.time-picker .mat-form-field-outline * {
  border: none !important;
}

.time-picker .mat-form-field-infix {
  border: none;
}

.time-picker .mat-form-field-flex {
  @apply bg-gray-600 rounded-md
}

body {
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}