/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.period-capsule {
  @apply bg-red-400;
}

.day-capsule {
  @apply cursor-pointer py-2
  px-4
  bg-transparent
  border-2
  text-black
  rounded-full  active:bg-green-400;
}

.day-capsule-selected {
  @apply bg-green-400;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.nav-btn {
  @apply bg-white p-2 inline-flex items-center justify-center  hover:text-gray-500 hover:bg-gray-100 focus:outline-none;
}

.period-btn {
  @apply px-2 py-2 text-sm border-4 font-medium rounded-full ml-3 text-white;
}

.active {
  @apply text-gray-100 border-b-2 border-gray-50;
}
.activeb {
  @apply text-black border-b-4 border-blue-600;
}

.sidebar-active-link {
  @apply bg-blue-300
}

.mat-simple-snackbar-action {
  @apply text-gray-700
}

.input-field {
  @apply bg-gray-600 px-2 border-none focus:outline-none focus:ring-gray-300
}

html, body { height: 100%; }
body { margin: 0; }

.time-picker .mat-select-arrow {
  border: none;
 
} 

.time-picker * {
  color: white;
}

.time-picker .mat-form-field-outline {
  top: 0 !important;
  border: none;
}

.time-picker .mat-form-field-outline * {
  border: none !important;
}

.time-picker .mat-form-field-infix {
  border: none;
}

.time-picker .mat-form-field-flex {
  @apply bg-gray-600 rounded-md
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1173%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1174)'%3e%3c/rect%3e%3cpath d='M 0%2c63 C 57.6%2c104.4 172.8%2c266.6 288%2c270 C 403.2%2c273.4 460.8%2c100.2 576%2c80 C 691.2%2c59.8 748.8%2c170.4 864%2c169 C 979.2%2c167.6 1036.8%2c78 1152%2c73 C 1267.2%2c68 1382.4%2c129.8 1440%2c144L1440 560L0 560z' fill='rgba(86%2c 96%2c 114%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c370 C 96%2c401 288%2c531.2 480%2c525 C 672%2c518.8 768%2c339.6 960%2c339 C 1152%2c338.4 1344%2c485.4 1440%2c522L1440 560L0 560z' fill='rgba(42%2c 51%2c 70%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1173'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1174'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0.9)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}