<div class="border-2 text-white rounded-md border-gray-200 bg-gray-700 px-4 mx-auto mt-4 w-full md:w-3/4 shadow-lg">

  <div class="flex gap-4 border-b-2 last:border-none border-gray-200  flex-col w-full md:flex-row"
    *ngFor="let day of days; let i =index;">
    <div
      class="flex items-center justify-center min-w-[200px] mt-4 md:mb-4 font-bold bg-gray-900 shadow-md rounded-md min-h-full text-lg uppercase py-2 text-center">
      <h1>{{day}}</h1>

    </div>
    <div class="flex flex-wrap pb-4 md:py-4 gap-4 w-full items-stretch">
      <app-loading-spinner *ngIf="periodsLoading"></app-loading-spinner>
      <ng-container *ngFor="let period of periodsGroupedByDay[i]?.periods">
        <app-period-block
          class="flex-grow bg-gray-900 shadow-md rounded-md px-3 py-3"
          [period]="period"
          (delete)="period.id ? showDeletedSnackbar(period.day, period.id) : null"
          (edit)="updatePeriod($event)"
          [currentTimeInMinutes]="currentTimeInMinutes"
          [currentDay]="currentDay"></app-period-block>
      </ng-container>
      <div *ngIf="!periodsLoading && !(periodsGroupedByDay[i]?.periods?.length || 0 )"
        class="flex-grow bg-gray-900 shadow-md rounded-md px-3 py-3">
        No classes for {{day}}
      </div>
    </div>
  </div>

</div>